<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>154760778057-3iiiplgot1o48p4gl9s92bp0atibjrgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154760778057-3iiiplgot1o48p4gl9s92bp0atibjrgf</string>
	<key>API_KEY</key>
	<string>AIzaSyCv2HRVEknWNXaMBaW-hg-Of0kBmtfo3NA</string>
	<key>GCM_SENDER_ID</key>
	<string>154760778057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DominicHolmes.ReviveFitness</string>
	<key>PROJECT_ID</key>
	<string>revive-fitness-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>revive-fitness-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:154760778057:ios:6c43fa8700e8d306</string>
	<key>DATABASE_URL</key>
	<string>https://revive-fitness-ios.firebaseio.com</string>
</dict>
</plist>